@import url("./style-blog-post-media-768px.css") (min-width: 768px);
@import url("./style-blog-post-media-1024px.css") (min-width: 1024px);

/* Remove default margin */

h1,
h2,
h3 {
    margin: 0;
}

#subscribe {
    padding-left: 7px;
    text-decoration: underline;
}

#avatar {
    float: left;
    margin-right: 4px;
    width: 50px;
    height: 50px;
    background: url("../Images/avatar.png") no-repeat;
    background-size: contain;
    border-radius: 100px;
}

.social-links {
    padding: 0px 20px 20px 20px;
}

.social-links img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

figure {
    margin-left: 20px;
    display: block;
}

#author,
#date {
    font-style: normal;
}

#author {
    padding-right: 5px;
}

h1 {
    font-size: 2em;
    margin-top: 15px;
}

h1,
h2,
h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

h2,
h3 {
    margin-top: 0;
}

nav {
    background-color: #1d9c2e;
    color: white;
    width: 100%;
}

ul {
    list-style-type: none;
    text-align: center;
    background-color: #1d9c2e;
    margin: 0;
    padding: 8px 0px;
}

ul li {
    display: inline;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
}

ul li:hover {
    background: rgba(0, 0, 0, 0.2)
}

#subscribe {
    text-align: start;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: #e3eee4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    background-color: white;
    border: 1px solid rgb(152, 160, 154);
    min-width: 300px;
}

.text,
.author-details {
    padding: 0px 20px 30px 20px;
    min-width: 300px;
    max-width: 600px;
}

@media(min-width: 768px) {
    figure {
        margin-left: 70px;
    }
    .text,
    .author-details {
        padding: 0px 70px 30px 70px;
    }
    .social-links {
        padding: 0px 70px 20px 70px;
        min-width: 300px;
        max-width: 600px;
    }
}

@media screen and (min-width: 1024px) {
    figure {
        margin-left: 150px;
    }
    .text,
    .author-details {
        padding: 0px 150px 30px 150px;
    }
    .social-links {
        padding: 0px 150px 20px 150px;
        min-width: 300px;
        max-width: 600px;
    }
}