body {
    background-color: #d9eee1;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
footer {
    text-align: center;
}

.details {
    font-style: italic;
    padding-bottom: 15px;
    font-size: 14px;
}

#author {
    padding-right: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.article {
    padding: 15px 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    text-align: center;
    background-color: #04aa6d;
    padding: 8px 0px;
}

ul li {
    display: inline;
    font-size: 20px;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
}

ul li:hover {
    background: rgba(0, 0, 0, 0.2)
}

.starting-text {
    padding-bottom: 15px;
}

a {
    width: 70px;
    height: 30px;
    background-color: #04aa6d;
    color: white;
    text-decoration: none;
    padding: 7px 6px;
    border-radius: 4px;
}

@media(min-width: 800px) {
    main {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
    }
    .article {
        padding: 15px 10px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
    .container {
        display: grid;
        grid-template-rows: 82px 7fr 50px;
        grid-template-columns: 250px 2fr 2fr;
        grid-template-areas: "hd hd hd" "menu main main" "ft ft ft ";
        align-items: flex-start;
    }
    header {
        grid-area: hd;
    }
    .menu {
        grid-area: menu;
        background-color: #04aa6d;
        color: white;
        height: 100%;
        margin-right: 7px;
    }
    ul li {
        display: block;
        padding: 12px 0px;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: ft;
    }
}